<library path="src">
  <class name="rqt_graph_plus_ros1/GraphPlus"
         type="rqt_graph_plus.plugin.GraphPlus"
         base_class_type="rqt_gui_py::Plugin">
    <description>Enhanced ROS1 graph viewer.</description>
    <qtgui>
      <label>rqt_graph_plus</label>
    </qtgui>
  </class>
</library>
